In [2]:
 %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('raw city data/detroit.csv')
data.head()
# data.shape

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (1,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Crime ID,Report #,Incident Address,Offense Description,Offense Category,Arrest Charge,Charge Description,State Offense Code,Incident Date & Time,Incident Time (24h),...,Precinct Number,Census Block GEOID,Neighborhood,Council District,Zip Code,Longitude,Latitude,IBR Report Date,Location,uniq
0,3250187,1808130137,11300 block of PATTON ST,ASSAULT AND BATTERY/SIMPLE ASSAULT,FAMILY OFFENSE,38001,FAMILY - ABUSE / NEGLECT NONVIOLENT,3801,08/13/2018 10:42:00 AM,1042,...,06,2.616355e+14,Franklin Park,7.0,NaN,-83.242375,42.369822,09/25/2018 10:44:51 AM,"location\n(42.36982, -83.24238)",140003
1,3250221,1808130204,6900 block of AUBURN ST,DAMAGE TO PROPERTY,DAMAGE TO PROPERTY,29000,DAMAGE TO PROPERTY,2900,08/08/2018 03:00:00 PM,1500,...,06,2.616355e+14,Warrendale,7.0,NaN,-83.232804,42.341547,09/03/2018 09:38:39 AM,"location\n(42.34155, -83.2328)",140023
2,3250224,1808130209,14500 block of GRIGGS ST,MOTOR VEHICLE THEFT,STOLEN VEHICLE,24001,MOTOR VEHICLE THEFT,2401,08/12/2018 10:00:00 PM,2200,...,02,2.616354e+14,Bethune Community,7.0,NaN,-83.162582,42.395284,08/24/2018 03:24:37 PM,"location\n(42.39528, -83.16258)",140025
3,3250343,1808130245,12200 block of HUBBELL ST,POSSESSION OF A STOLEN VEHICLE,STOLEN VEHICLE,24011,POSSESSION OF A STOLEN VEHICLE,2401,08/13/2018 02:21:00 PM,1421,...,02,2.616354e+14,Plymouth-Hubbell,7.0,NaN,-83.187928,42.378026,09/24/2018 09:14:37 AM,"location\n(42.37803, -83.18793)",140086
4,3288240,1811110019,Corner of JOHN R ST and WATSON ST,LARCENY - PERSONAL PROPERTY FROM MOTOR VEHICLE,LARCENY,23005,LARCENY - PERSONAL PROPERTY FROM MOTOR VEHICLE,2305,11/10/2018 09:05:00 PM,2105,...,03,2.616352e+14,Brush Park,5.0,NaN,-83.053830,42.345619,11/12/2018 12:20:30 PM,"location\n(42.34562, -83.05383)",161958

In [7]:
# data['location_block'].value_counts()

# shows how many crimes occurred in each zipcode
new_table = data['Location'].value_counts().rename_axis('Location').reset_index(name='total_crimes')
# new_table['Location']=new_table['Location'].str.split(',',expand=True)[1]
# new_table.head()
new_table['lat']=new_table['Location'].str.split(',',expand=True)[0]
new_table['long']=new_table['Location'].str.split(',',expand=True)[1]
new_table['lat']=new_table['lat'].str.split('(',expand=True)[1]
new_table['long']=new_table['long'].str.split(')',expand=True)[0]

new_table['lat']=pd.to_numeric(new_table['lat'])
new_table['long']=pd.to_numeric(new_table['long'])

new_table.head()

                           Location  total_crimes       lat       long
0  location\n(32.02636, -127.91418)           338  32.02636 -127.91418
1   location\n(42.43144, -83.10231)           153  42.43144  -83.10231
2   location\n(42.36631, -83.08365)            74  42.36631  -83.08365
3   location\n(42.40173, -83.19261)            69  42.40173  -83.19261
4   location\n(42.34368, -83.19747)            55  42.34368  -83.19747

In [8]:
data.shape

(163133, 24)

In [9]:
new_table.shape

(136839, 4)

In [11]:
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)

for index, row in new_table.iterrows():
    lat = row['lat']
    long = row['long']
    zipcode = search.by_coordinates(lat, long, returns = 1) 
    if len(zipcode) > 0:
        blah = zipcode[0].zipcode
    else:
        blah = 0
    new_table.at[index, 'zipcode'] = blah
    if index%200 == 0:
        print(str(index) + " still going")

0 still going
200 still going
400 still going
600 still going
800 still going
1000 still going
1200 still going
1400 still going
1600 still going
1800 still going
2000 still going
2200 still going
2400 still going
2600 still going
2800 still going
3000 still going
3200 still going
3400 still going
3600 still going
3800 still going
4000 still going
4200 still going
4400 still going
4600 still going
4800 still going
5000 still going
5200 still going
5400 still going
5600 still going
5800 still going
6000 still going
6200 still going
6400 still going
6600 still going
6800 still going
7000 still going
7200 still going
7400 still going
7600 still going
7800 still going
8000 still going
8200 still going
8400 still going
8600 still going
8800 still going
9000 still going
9200 still going
9400 still going
9600 still going
9800 still going
10000 still going
10200 still going
10400 still going
10600 still going
10800 still going
11000 still going
11200 still going
11400 still going
11600 still going
11800 still going
12000 still going
12200 still going
12400 still going
12600 still going
12800 still going
13000 still going
13200 still going
13400 still going
13600 still going
13800 still going
14000 still going
14200 still going
14400 still going
14600 still going
14800 still going
15000 still going
15200 still going
15400 still going
15600 still going
15800 still going
16000 still going
16200 still going
16400 still going
16600 still going
16800 still going
17000 still going
17200 still going
17400 still going
17600 still going
17800 still going
18000 still going
18200 still going
18400 still going
18600 still going
18800 still going
19000 still going
19200 still going
19400 still going
19600 still going
19800 still going
20000 still going
20200 still going
20400 still going
20600 still going
20800 still going
21000 still going
21200 still going
21400 still going
21600 still going
21800 still going
22000 still going
22200 still going
22400 still going
22600 still going
22800 still going
23000 still going
23200 still going
23400 still going
23600 still going
23800 still going
24000 still going
24200 still going
24400 still going
24600 still going
24800 still going
25000 still going
25200 still going
25400 still going
25600 still going
25800 still going
26000 still going
26200 still going
26400 still going
26600 still going
26800 still going
27000 still going
27200 still going
27400 still going
27600 still going
27800 still going
28000 still going
28200 still going
28400 still going
28600 still going
28800 still going
29000 still going
29200 still going
29400 still going
29600 still going
29800 still going
30000 still going
30200 still going
30400 still going
30600 still going
30800 still going
31000 still going
31200 still going
31400 still going
31600 still going
31800 still going
32000 still going
32200 still going
32400 still going
32600 still going
32800 still going
33000 still going
33200 still going
33400 still going
33600 still going
33800 still going
34000 still going
34200 still going
34400 still going
34600 still going
34800 still going
35000 still going
35200 still going
35400 still going
35600 still going
35800 still going
36000 still going
36200 still going
36400 still going
36600 still going
36800 still going
37000 still going
37200 still going
37400 still going
37600 still going
37800 still going
38000 still going
38200 still going
38400 still going
38600 still going
38800 still going
39000 still going
39200 still going
39400 still going
39600 still going
39800 still going
40000 still going
40200 still going
40400 still going
40600 still going
40800 still going
41000 still going
41200 still going
41400 still going
41600 still going
41800 still going
42000 still going
42200 still going
42400 still going
42600 still going
42800 still going
43000 still going
43200 still going
43400 still going
43600 still going
43800 still going
44000 still going
44200 still going
44400 still going
44600 still going
44800 still going
45000 still going
45200 still going
45400 still going
45600 still going
45800 still going
46000 still going
46200 still going
46400 still going
46600 still going
46800 still going
47000 still going
47200 still going
47400 still going
47600 still going
47800 still going
48000 still going
48200 still going
48400 still going
48600 still going
48800 still going
49000 still going
49200 still going
49400 still going
49600 still going
49800 still going
50000 still going
50200 still going
50400 still going
50600 still going
50800 still going
51000 still going
51200 still going
51400 still going
51600 still going
51800 still going
52000 still going
52200 still going
52400 still going
52600 still going
52800 still going
53000 still going
53200 still going
53400 still going
53600 still going
53800 still going
54000 still going
54200 still going
54400 still going
54600 still going
54800 still going
55000 still going
55200 still going
55400 still going
55600 still going
55800 still going
56000 still going
56200 still going
56400 still going
56600 still going
56800 still going
57000 still going
57200 still going
57400 still going
57600 still going
57800 still going
58000 still going
58200 still going
58400 still going
58600 still going
58800 still going
59000 still going
59200 still going
59400 still going
59600 still going
59800 still going
60000 still going
60200 still going
60400 still going
60600 still going
60800 still going
61000 still going
61200 still going
61400 still going
61600 still going
61800 still going
62000 still going
62200 still going
62400 still going
62600 still going
62800 still going
63000 still going
63200 still going
63400 still going
63600 still going
63800 still going
64000 still going
64200 still going
64400 still going
64600 still going
64800 still going
65000 still going
65200 still going
65400 still going
65600 still going
65800 still going
66000 still going
66200 still going
66400 still going
66600 still going
66800 still going
67000 still going
67200 still going
67400 still going
67600 still going
67800 still going
68000 still going
68200 still going
68400 still going
68600 still going
68800 still going
69000 still going
69200 still going
69400 still going
69600 still going
69800 still going
70000 still going
70200 still going
70400 still going
70600 still going
70800 still going
71000 still going
71200 still going
71400 still going
71600 still going
71800 still going
72000 still going
72200 still going
72400 still going
72600 still going
72800 still going
73000 still going
73200 still going
73400 still going
73600 still going
73800 still going
74000 still going
74200 still going
74400 still going
74600 still going
74800 still going
75000 still going
75200 still going
75400 still going
75600 still going
75800 still going
76000 still going
76200 still going
76400 still going
76600 still going
76800 still going
77000 still going
77200 still going
77400 still going
77600 still going
77800 still going
78000 still going
78200 still going
78400 still going
78600 still going
78800 still going
79000 still going
79200 still going
79400 still going
79600 still going
79800 still going
80000 still going
80200 still going
80400 still going
80600 still going
80800 still going
81000 still going
81200 still going
81400 still going
81600 still going
81800 still going
82000 still going
82200 still going
82400 still going
82600 still going
82800 still going
83000 still going
83200 still going
83400 still going
83600 still going
83800 still going
84000 still going
84200 still going
84400 still going
84600 still going
84800 still going
85000 still going
85200 still going
85400 still going
85600 still going
85800 still going
86000 still going
86200 still going
86400 still going
86600 still going
86800 still going
87000 still going
87200 still going
87400 still going
87600 still going
87800 still going
88000 still going
88200 still going
88400 still going
88600 still going
88800 still going
89000 still going
89200 still going
89400 still going
89600 still going
89800 still going
90000 still going
90200 still going
90400 still going
90600 still going
90800 still going
91000 still going
91200 still going
91400 still going
91600 still going

91800 still going
92000 still going
92200 still going
92400 still going
92600 still going
92800 still going
93000 still going
93200 still going
93400 still going
93600 still going
93800 still going
94000 still going
94200 still going
94400 still going
94600 still going
94800 still going
95000 still going
95200 still going
95400 still going
95600 still going
95800 still going
96000 still going
96200 still going
96400 still going
96600 still going
96800 still going
97000 still going
97200 still going
97400 still going
97600 still going
97800 still going
98000 still going
98200 still going
98400 still going
98600 still going
98800 still going
99000 still going
99200 still going
99400 still going
99600 still going
99800 still going
100000 still going
100200 still going
100400 still going
100600 still going
100800 still going
101000 still going
101200 still going
101400 still going
101600 still going
101800 still going
102000 still going
102200 still going
102400 still going
102600 still going
102800 still going
103000 still going
103200 still going
103400 still going
103600 still going
103800 still going
104000 still going
104200 still going
104400 still going
104600 still going
104800 still going
105000 still going
105200 still going
105400 still going
105600 still going
105800 still going
106000 still going
106200 still going
106400 still going
106600 still going
106800 still going
107000 still going
107200 still going
107400 still going
107600 still going
107800 still going
108000 still going
108200 still going
108400 still going
108600 still going
108800 still going
109000 still going
109200 still going
109400 still going
109600 still going
109800 still going
110000 still going
110200 still going
110400 still going
110600 still going
110800 still going
111000 still going
111200 still going
111400 still going
111600 still going
111800 still going
112000 still going
112200 still going
112400 still going
112600 still going
112800 still going
113000 still going
113200 still going
113400 still going
113600 still going
113800 still going
114000 still going
114200 still going
114400 still going
114600 still going
114800 still going
115000 still going
115200 still going
115400 still going
115600 still going
115800 still going
116000 still going
116200 still going
116400 still going
116600 still going
116800 still going
117000 still going
117200 still going
117400 still going
117600 still going
117800 still going
118000 still going
118200 still going
118400 still going
118600 still going
118800 still going
119000 still going
119200 still going
119400 still going
119600 still going
119800 still going
120000 still going
120200 still going
120400 still going
120600 still going
120800 still going
121000 still going
121200 still going
121400 still going
121600 still going
121800 still going
122000 still going
122200 still going
122400 still going
122600 still going
122800 still going
123000 still going
123200 still going
123400 still going
123600 still going
123800 still going
124000 still going
124200 still going
124400 still going
124600 still going
124800 still going
125000 still going
125200 still going
125400 still going
125600 still going
125800 still going
126000 still going
126200 still going
126400 still going
126600 still going
126800 still going
127000 still going
127200 still going
127400 still going
127600 still going
127800 still going
128000 still going
128200 still going
128400 still going
128600 still going
128800 still going
129000 still going
129200 still going
129400 still going
129600 still going
129800 still going
130000 still going
130200 still going
130400 still going
130600 still going
130800 still going
131000 still going
131200 still going
131400 still going
131600 still going
131800 still going
132000 still going
132200 still going
132400 still going
132600 still going
132800 still going
133000 still going
133200 still going
133400 still going
133600 still going
133800 still going
134000 still going
134200 still going
134400 still going
134600 still going
134800 still going
135000 still going
135200 still going
135400 still going
135600 still going
135800 still going
136000 still going
136200 still going
136400 still going
136600 still going
136800 still going

In [13]:
# new_table.head()
table2 = new_table.drop(['Location','lat','long'], axis=1)
d = {'total_crimes': 'sum'}
tb2_new = table2.groupby(table2['zipcode']).aggregate(d).reset_index()
tb2_new = tb2_new.sort_values(by=['total_crimes'], ascending=False)
tb2_new.head()

    zipcode  total_crimes
42  48227.0         13748
47  48235.0         11616
21  48205.0         10011
35  48219.0          9151
39  48224.0          8149

In [14]:
tb2_new.zipcode = pd.to_numeric(tb2_new.zipcode)
tb2_new.zipcode.dtype

dtype('float64')

In [15]:
census = pd.read_csv('census_data.csv')
census.head()
# new_table.head()

# new_table.zipcode.dtype

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,601,18450,36.6,12041.0,7380.0,10816,58.623306
1,602,41302,38.6,15663.0,8463.0,22409,54.256452
2,603,53683,38.9,15485.0,9176.0,26220,48.842278
3,606,6591,37.3,15019.0,6383.0,3721,56.455773
4,610,28963,39.2,16707.0,7892.0,14569,50.302110

In [16]:
tb2 = tb2_new.merge(census, left_on='zipcode', right_on='Zipcode', how='left')
tb2.head()

,zipcode,total_crimes,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,48227.0,13748,48227.0,45214.0,35.5,28994.0,15072.0,16064.0,35.528819
1,48235.0,11616,48235.0,46368.0,39.3,28897.0,17256.0,15387.0,33.184524
2,48205.0,10011,48205.0,38688.0,30.0,26648.0,12743.0,16397.0,42.382651
3,48219.0,9151,48219.0,47821.0,36.6,32416.0,17331.0,15274.0,31.939943
4,48224.0,8149,48224.0,44877.0,31.7,30457.0,14826.0,16586.0,36.958798

In [17]:
tb2['crime rate'] = tb2.total_crimes / tb2.Population
tb2.sort_values(by=['crime rate'], ascending=False)
tb2 = tb2.reset_index(drop = True)
tb2.head()

,zipcode,total_crimes,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,crime rate
0,48227.0,13748,48227.0,45214.0,35.5,28994.0,15072.0,16064.0,35.528819,0.304065
1,48235.0,11616,48235.0,46368.0,39.3,28897.0,17256.0,15387.0,33.184524,0.250518
2,48205.0,10011,48205.0,38688.0,30.0,26648.0,12743.0,16397.0,42.382651,0.258762
3,48219.0,9151,48219.0,47821.0,36.6,32416.0,17331.0,15274.0,31.939943,0.191359
4,48224.0,8149,48224.0,44877.0,31.7,30457.0,14826.0,16586.0,36.958798,0.181585

In [18]:
tb2 = tb2.drop(['Zipcode'], axis=1)
tb2.head()

,zipcode,total_crimes,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,crime rate
0,48227.0,13748,45214.0,35.5,28994.0,15072.0,16064.0,35.528819,0.304065
1,48235.0,11616,46368.0,39.3,28897.0,17256.0,15387.0,33.184524,0.250518
2,48205.0,10011,38688.0,30.0,26648.0,12743.0,16397.0,42.382651,0.258762
3,48219.0,9151,47821.0,36.6,32416.0,17331.0,15274.0,31.939943,0.191359
4,48224.0,8149,44877.0,31.7,30457.0,14826.0,16586.0,36.958798,0.181585

In [21]:
tb2 = tb2.drop([0,1,53])
tb2 = tb2.sort_values(by=['crime rate'], ascending=False).reset_index(drop=True)
tb2.head(500)

,zipcode,total_crimes,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,crime rate
0,48201.0,6908,11748.0,33.7,15139.0,17732.0,5701.0,48.527409,0.588015
1,48216.0,2763,5556.0,36.1,23367.0,14981.0,2298.0,41.360691,0.497300
2,48227.0,13748,45214.0,35.5,28994.0,15072.0,16064.0,35.528819,0.304065
3,48223.0,6899,24321.0,35.1,34546.0,17431.0,7952.0,32.696024,0.283664
4,48211.0,1724,6175.0,34.2,18264.0,10019.0,2785.0,45.101215,0.279190
5,48226.0,1397,5370.0,40.1,30891.0,33039.0,1297.0,24.152700,0.260149
6,48205.0,10011,38688.0,30.0,26648.0,12743.0,16397.0,42.382651,0.258762
7,48215.0,3439,13364.0,36.0,20101.0,12737.0,6182.0,46.258605,0.257333
8,48235.0,11616,46368.0,39.3,28897.0,17256.0,15387.0,33.184524,0.250518
9,48202.0,3844,15866.0,40.2,18597.0,16720.0,5713.0,36.007815,0.242279
10,48204.0,5998,27227.0,39.7,21075.0,12531.0,11922.0,43.787417,0.220296
11,48213.0,5531,27981.0,33.3,22592.0,11348.0,12579.0,44.955506,0.197670
12,48238.0,6133,31109.0,37.9,23667.0,13944.0,12995.0,41.772477,0.197146
13,48208.0,1937,9997.0,35.6,20386.0,13733.0,4814.0,48.154446,0.193758
14,48219.0,9151,47821.0,36.6,32416.0,17331.0,15274.0,31.939943,0.191359
15,48207.0,3896,20439.0,44.6,22090.0,19107.0,8720.0,42.663535,0.190616
16,48224.0,8149,44877.0,31.7,30457.0,14826.0,16586.0,36.958798,0.181585
17,48234.0,6253,35769.0,35.3,26296.0,13148.0,14630.0,40.901339,0.174816
18,48203.0,4693,26861.0,39.5,22804.0,15642.0,11363.0,42.302967,0.174714
19,48206.0,3589,21182.0,33.7,23630.0,13081.0,9019.0,42.578604,0.169436
20,48221.0,6263,39455.0,39.6,38588.0,20123.0,9268.0,23.490052,0.158738
21,48126.0,7398,48100.0,27.3,28335.0,12387.0,21177.0,44.027027,0.153805
22,48210.0,4482,31895.0,26.3,24949.0,9612.0,14738.0,46.207870,0.140524
23,48225.0,2024,14692.0,35.8,44269.0,20903.0,2670.0,18.173155,0.137762
24,48240.0,2139,17212.0,39.4,47401.0,22394.0,2130.0,12.375087,0.124274
25,48217.0,925,7723.0,42.6,26705.0,14855.0,2959.0,38.314127,0.119772
26,48214.0,2527,22286.0,41.9,23841.0,17860.0,8550.0,38.364893,0.113390
27,48209.0,3676,33446.0,29.1,27358.0,11703.0,12562.0,37.559050,0.109909
28,48030.0,1722,16528.0,35.8,30875.0,17084.0,4503.0,27.244676,0.104187
29,48212.0,2203,39369.0,31.1,23694.0,10716.0,18324.0,46.544235,0.055958
30,48127.0,1611,37050.0,38.3,43326.0,21369.0,7251.0,19.570850,0.043482
31,48075.0,840,21246.0,43.4,54152.0,28355.0,3417.0,16.083027,0.039537
32,48239.0,855,36245.0,39.0,50113.0,22814.0,5055.0,13.946751,0.023589
33,48236.0,666,30358.0,45.0,91782.0,47928.0,1813.0,5.972067,0.021938
34,48230.0,232,16860.0,42.5,96975.0,51943.0,880.0,5.219454,0.013760
35,48220.0,300,22773.0,35.7,44986.0,26577.0,3856.0,16.932332,0.013173
36,48229.0,62,9625.0,36.9,27818.0,15357.0,3194.0,33.184416,0.006442
37,48089.0,188,29960.0,33.9,35165.0,16509.0,7462.0,24.906542,0.006275
38,48146.0,174,37651.0,37.3,40700.0,19455.0,6734.0,17.885315,0.004621
39,48122.0,27,10661.0,35.4,33223.0,18117.0,2421.0,22.708939,0.002533
40,48218.0,6,7857.0,35.5,26185.0,13819.0,3021.0,38.449790,0.000764
41,48128.0,6,10664.0,38.3,79619.0,34066.0,822.0,7.708177,0.000563
42,48120.0,4,7454.0,28.5,48333.0,20774.0,2067.0,27.730078,0.000537
43,48124.0,16,30922.0,41.9,58074.0,30770.0,2545.0,8.230386,0.000517
44,48091.0,11,31746.0,37.3,36401.0,18072.0,7489.0,23.590374,0.000347
45,48080.0,5,22798.0,43.0,50119.0,29621.0,2612.0,11.457145,0.000219
46,48125.0,4,20241.0,39.9,42247.0,21550.0,3493.0,17.257053,0.000198
47,48237.0,4,29573.0,37.1,48261.0,21768.0,5716.0,19.328441,0.000135
48,48015.0,1,8272.0,42.4,30752.0,19543.0,1719.0,20.780948,0.000121
49,48101.0,3,27933.0,41.6,58720.0,27119.0,2176.0,7.790069,0.000107
50,48195.0,3,29800.0,41.9,48439.0,25903.0,3111.0,10.439597,0.000101

In [62]:
# tb2 = tb2.drop([0,1,2])
tb2.reset_index(drop=True).head()

,zipcode,total_crimes,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,crime rate
0,32803,10401,17680,39.4,53101.0,40884.0,1950,11.029412,0.588292
1,32811,21726,38301,29.8,34189.0,15654.0,9663,25.229106,0.567244
2,32814,3081,6061,33.1,96766.0,59903.0,227,3.745257,0.508332
3,32819,12842,25461,39.1,66330.0,34133.0,3087,12.124426,0.504379
4,32804,7206,16826,40.4,58548.0,42558.0,1911,11.357423,0.428266

In [22]:
tb2.to_csv('detroit_census.csv', encoding='utf-8', index=False)